<div style="position:relative; height:70px; width: 100%; top:0 ; left:0; background-color:#fcba03">
    <div class="container my-auto" style="height:100%">
        <div class="row my-auto" style="height:100%">
            <div class="col-6 my-auto" style="text-align:left">
                <span style="width:fit-content; height:fit-content; display:inline-block;" class="my-auto">
                    <h2 style="font-weight:bold; color:white;">
                        <a style="color:white; text-decoration:none; cursor:pointer" href="/">Rhosung Shopping Cart<a> 
                    </h2>
                </span>
            </div>
            <div class="col-6 my-auto" style="text-align:right">
                <span style="width:fit-content; height:fit-content; display:inline-block;" class="my-auto">
                    <% if(user){ %>
                        <h6 style="font-weight:bold; color:white; display:inline-block" class="mr-3"> Hello, <%=user.admin?"Admin":"User"%> <%= user.name %> </h6>
                        <a href="/logout" style="text-decoration:none">
                            <button class="btn btn-outline-dark">
                                Log Out  
                            </button>
                        </a>
                    <% } %>
                </span>
            </div>
        </div>
    </div>
</div>